<nav class="navbar navbar-expand-lg navbar-light bg-faded justify-content-between">
  
  <div class="bar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/myaccount" routerLinkActive="active">Mi Cuenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/evaluations" routerLinkActive="active">Evaluaciones</a>
        </li>
      </ul>
  </div>
  <div>
    <button class="btn btn-outline-success">Login</button>
  </div>
</nav>
<router-outlet></router-outlet>